<html>
    <head>
        <title>User Verification Service 1.0</title>
        <link rel="stylesheet" href="style.css">
        <script src="../../index.js" type="module"></script>
    </head>

    <body>
        <h1 class="main-title">
            Martitas Titas project
        </h1>

        <div>
            <button id="test-btn">Test click</button>
        </div>
        <br>
        <div>
            <button id="test-input-btn">input action</button>
            <input type="text" id="test-input" placeholder="put something into...">
        </div>
    </body>
</html>